body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

p {
    color: #aaa;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}